/* =======================================================
                        bingsolver.css
THIS CSS FILE USED ONLY WITH index.html FILE. DON'T USE THIS
FILE FOR INJECTION FOR BING.COM
======================================================= */

body {
    width: 500px;
    height: 300px;
    margin: 0; padding: 0;
}
@font-face {
    font-family: "alexey";
    src: url("src/fonts/SegoePro-Semibold.woff") format("woff");
}
.ms-logo {
    width: 39px;
    height: 39px;
}
.logo-c {
    display: flex;
    width: 237px;
    margin-left: auto; margin-right: auto;
    margin-top: 17px; margin-bottom: 17px;
}
.bing-solver {
    font-family: 'alexey';
    font-size: 29px;
    margin: 0; padding: 0;

    margin-left: 7px;
    color: #7D7E81;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#search_bs {
    padding-left: 125px; padding-right: 125px;
    padding-top: 7px; padding-bottom: 7px;
    outline: none; text-align: center;
    font-family: alexey;
    border-radius: 100px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(252, 252, 252);
    transition: .07s;
    cursor: pointer;
    margin: 0;
}
#search_bs:hover {
    background-color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 7px rgba(25, 25, 25, 0.123);
}
.search_bs_item {
    text-align: center;
    font-family: 'alexey';
    cursor: pointer;
}
.search_bs_item:hover {
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
}
.bs_items_results {
    position: absolute;
    box-shadow: 0 0px 7px rgba(25, 25, 25, 0.123) !important;
     border: 1px solid rgb(221, 221, 221);
    background-color: rgb(252, 252, 252);
    border-radius: 9px;
    margin-left: 45px; margin-right: 45px;
    width: 81.8%;
    overflow-y: scroll;
    height: 120px;
    z-index: 3;
}

input[type="text"]:focus {
    animation: ready 0.24s;
    border: 0px solid #4D90FE !important;
    box-shadow: 0 0px 7px rgba(25, 25, 25, 0.123) !important;
    outline: none !important;
}

@keyframes ready {
    0% {
        background-color: white;
        border: 1px solid white;
    }
    47% {
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(0, 0, 0);     
    }
    100% {
        background-color: white;
        border: 1px solid white;       
    }
}

.slogan {
    text-align: center; font-family: 'alexey'; font-size: 12px; color: rgb(104, 104, 104);
    padding: 0; 
}

.menu {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px -2px 3px rgba(90, 90, 90, 0.204);
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0%;
    border-top: 1px solid rgb(206, 206, 206);
    border-left: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
    border-radius: calc(7px * sin(100deg)) calc(7px * sin(100deg)) 0px 0px;
    justify-content: center;
    justify-items: center;
    display: flex;
}
.menu-img {
    padding-top: 15px;
    padding-left: 15px; padding-right: 15px;
    width: 26px;
    height: 26px;
    filter: invert(30%);
    transition: .1s;
}
.menu-img:after {
    content: 'test';
    width: 100px;
    height: 30px;
    background-color: red;
}
.menu-img:hover {
    filter: invert(40%);
    transform: scale(1.05) translateY(-1px);
}
.menu-img-c {
    margin: 0;
    margin-top: 5px;
}