.BingButton {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    color: rgb(94, 94, 94);
    font-weight: 900;
    font-size: 19px;
    transition: .1s;
    box-shadow: 0px 4px 10px rgb(226, 226, 226);
}
.BingButton:hover {
    cursor: pointer;
    box-shadow: 0px 8px 10px rgb(226, 226, 226);
}
.BingButton:active  {
    color: rgb(0, 94, 255);
    
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.extended {
    width: 635px;
}