* {
    --wt-main-bg: rgb(255, 255, 255); /* White Theme Main Background *Color */
    --dt-main-bg: rgb(42, 42, 42); /* Dark Theme Main Background *Color */
    --wt-main-pr: rgb(120, 120, 120); /* White Theme Main Paragraph*/
    --dt-main-pr: rgb(252, 252, 252); /* Dark Theme Main Paragraph */   
}

body {
    background-color: var(--dt-main-bg);
}
p {
    color: var(--dt-main-pr);
    font-family:'Segoe Pro Regular'; font-weight:normal; font-size:42px;
}